* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

.navbar {
     display: flex;
     align-items: center;
     justify-content: space-between; /* space-between siginifica espaço entre */
     background-color: black;
     padding: 1rem 2rem; /* a medida rem é utilizada para responsividade e acessibilidade */
}

.logo {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold; /* Está deixando a fonte em negrito */
}

.nav-links {
     display: flex;
     list-style: none; /* O list-style: none remove os marcadores padrão das listas. */
     gap: 2rem; /* Gap siginifica espaçamento entre linhas e colunas */
}

.nav-links a {
     color: whitesmoke;
     text-decoration: none;
     font-size: 1rem;
     transition: color 0.3s;
}

.nav-links a:hover {
      color: purple;
}

 /* Esse código só executa quando a tela tiver 768px ou menos */     
 
 @media (max-width: 768px) {
    .menu-toggle {
         display: block;  /* botão ☰ aparece */
         background-color: black;
         color: whitesmoke;
         border: none;
         padding: 0.8rem 2rem;
         border-radius: 8px;
         font-size: 1rem;
         cursor: pointer;
         transition: all 0.3s;
    }


}

.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color:black;
    padding: 1rem 2rem;
    gap: 1rem;

}

.nav-links.aberto {
    display: flex;
  }

.menu-toggle {
         display: block;  /* botão ☰ aparece */
         background-color: black;
         color: whitesmoke;
         border: none;
         padding: 0.8rem 2rem;
         border-radius:10px;
         font-size: 0.8rem;
         cursor: pointer;
         transition: all 0.3s;
 }

 .menu-toggle:hover {
    background-color: purple;
    transform: scale(1.05);
 }

